<div id="navBar">          
    <div id="brandLogo">
        <img id="brandImage" src="./img/ed-logo.png"/>
    </div>
    <div id="navbarOptions">
        <div *ngFor="let tab of tabs" class="navbarButton">
            <a>{{tab}}</a>
        </div>
        <form [formGroup]="tabInput" (onsubmit)="createTab(tabInput)">
            <div class="navbarButton" >
                <input type="text" formControlName="tabValue"/>
                <p [style.visibility]="tabInput.dirty && tabInput.touched && tabInput.valid ? 'visible' : 'hidden'">
                    Must contain text
                </p>
            </div>
        </form>
    </div>
</div>